<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    {% block content %}
      <form method='POST' action="">
      {% csrf_token %}
        <label for="pic_name">pic_name</label>
        <input type="image" name="pic_name" id='pic_name' required><br>
        <label for="name">name</label>
        <input type="text" name='name' id='name' requeired>

      </form>
    {% endblock %}
  </div>
</body>
</html>